.dialog-size {
    width: 530px;
    height: 170px;
    padding: 15px;
}

.textfield-size {
    /* vertical-align: middle; */
    /* align-items: center; */
    left: 10px;
    width: 80%;
}

.dialog-content {
    padding: 15px;
}

.copy-button {
    margin-left: 15px !important;
}
