.dialog-size {
    width: 530px;
    height: 240px;
    padding: 15px;
}

.textfield-size {
    left: 10px;
    width: 85%;
}

.dialog-content {
    padding: 15px;
}

.copy-button {
    margin-left: 15px !important;
}
