.title {
    color: white;
    font-size: 24;
    font-weight: 400;
}

.region-select {
    background-color: white;
    min-width: 50px;
}

.summoner-search {
    min-width: 250px;
    background-color: white;
    border-radius: 10px;
}

.circular-progress {
    size: 24px;
    color: white;
}

.side-margins {
    width: 33%;
}

.main-content {
    width: 33%;
}

.buttons {
    background-color: royalblue !important;
}

.button-text {
    color: white;
    font-size: 20px;
    font-weight: 500;
}