.trait-layering {
    position: relative;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    width: 100%;
    min-height: 45px;
    margin: 2px;
    padding: 5px;
    background-color: #18399a;
}

.trait-text {
    display: inline-block;
    margin-left: 35px;
    margin-top: 9px;
    color: var(--main-color);
}