.ranked-face {
    width: 25%;
    height: 25%;
}

.ranked-crown {
    width: 25%;
    height: 25%;
    margin-left: -112px;
    margin-top: 0px;
}

.side-margins {
    width: 16%;
}

.main-content {
    width: 66%;
}

.summoner-name {
    font-size: 60px;
    vertical-align: bottom;
    color: white;
}

.profile-icon {
    width: 100px;
    height: 100px;
}

.level {
    color: white;
    position: absolute;
    margin-left: -308px;
    margin-top: 1px;
    background-color: black;
    font-weight: 500;
}

.text {
    color: white;
}