.black-icon{
  filter: invert(100%);
}

.grayscale{
  filter: grayscale(100%);
}

.smallTitle{
  color: yellow;
}

.green{
  color: green;
}

.whitebg{
  background-color: white;
}

p{
  margin: 0;
  padding: 0;
}
