.tooltip-wrapper-item {
  margin: 5px;
}

.font {
  font-size: 11px;
}

.tooltip-title {
  color: yellow;
  width: 100%;
  font-size: 16px;
  
}

.tooltip-row {
  margin-bottom: 5px;
  white-space: pre-wrap;
}
