.item-dimensions-small {
  width: 35px;
  height: 35px;
}

.item-desc-text {
  white-space: pre-line;
}

.item-category-title {
  font-size: 24px;
  font-weight: 500;
  padding: 15px;
  background-color: royalblue;
}

.recipe-operator-text {
  font-size: 40px;
}

.item-category-margins {
  margin-top: 30px;
  margin-bottom: 30px;
}

.item-category-content {
  padding: 15px;
  background-color: #18399a;
}

.button-text {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: var(--main-color);
}

.portrait {
  grid-area: portrait;
}

.button {
  background-color: #0d2059 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: button;
}

.item-title {
  font-size: 24px;
  padding: 15px;
  grid-area: item-title;
  font-weight: 500;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  place-items: center;
}

.grid-desc {
  display: grid;
  grid-template-columns: 64px 1fr 80px;
  grid-template-areas:
    "portrait item-title button";
  padding: 15px;
  background-color: royalblue;
}

.grid-basic {
  display: grid;
  width: 60%;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-recipe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
}

.builds-from-items {
  display: inline-block;
}