.itemMargins{
  margin-left: 10px;
  margin-top: 10px;
  width: 60px;
  height: 60px;
}

.champion-spacing{
  position: relative;
  display: inline-block;
  margin: 6px;
}

.item-name{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 11px;
    text-align: center;
}
